.hero{
  background-color: #F2F2F2;
  padding-top: 128px;
  padding-bottom: 45px;
}

.hero__form{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}

.hero__input{
  background-image: url(../../images/search-black.svg);
  background-repeat: no-repeat;
  background-position: calc(10% - 15px) calc(50%);
  background-color: #FFFFFF;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  border: none;
  padding: 18px 270px 18px 74px;
}

.hero__select{
  background-image: url("../../images/Shape.svg");
  background-repeat: no-repeat;
  background-position: calc(90% - 10px) calc(50%);
  background-color: #FFFFFF;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  appearance: none;
  border: none;
  border-radius: 5px;
  padding: 18px 72px 18px 24px;
}

.hero__option{
  display: none;
}

.hero__options{
  padding: 8px 124px 8px 24px;
}

.hero__list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.hero__item{
  width: 264px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
  border-radius: 5px;
  list-style-type: none;
}

.hero__item:nth-child(1){
  margin-bottom: 64px;
}

.hero__item:nth-child(2){
  margin-bottom: 64px;
}

.hero__item:nth-child(2) .hero__box{
  padding: 24px 34px 46px 24px;
}

.hero__item:nth-child(3) .hero__box{
  padding: 24px 34px 46px 24px;
}

.hero__item:nth-child(3){
  margin-bottom: 64px;
}

.hero__item:nth-child(4){
  margin-bottom: 64px;
}

.hero__img{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.hero__link{
  text-decoration: none;
}

.hero__box{
  padding: 24px 80px 46px 24px;
}

.hero__subtitle{
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  color: #111517;
  margin: 0;
  margin-bottom: 16px;
}

.hero__text{
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #111517;
}

.hero__span{
  color: #111517;
  opacity: 1;
}

.hero__subtext{
  opacity: 0.5;
  color: #111517;
}